<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="URL" value="http://automationpractice.com/index.php"/>
    <add key="BrowserType" value="chrome"/>
    <add key="UserName" value="testAccount1992@gmail.com"/>
    <add key="Password" value="TestAccount@1992"/>
  </appSettings>  
    
</configuration>